@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

:root {
    --bg-color: #1f242d;
    --second-bg-color: #323946;
    --text-color: #fff;
    --main-color: #0eff;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
}

html {
    font-size: 62.8%;
    overflow-x: hidden;
}

li {
    list-style: none;
}

nav ul,
li {
    transition: .3s ease;
    text-decoration: none;
    align-items: center;
}

nav {
    background-color: #2A312c;
    padding: 10px 10px;
    display: flex;
    top: 0;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    height: 80px;
    z-index: 999;
    transition: .3s ease;
}

nav ul {
    transition: .3s ease;
    display: flex;
    gap: 30px;
}

nav ul,
a,
i {
    color: #dcaf85;
    font-size: 20px;
    cursor: pointer;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}

.header i {
    font-size: .5rem;
    color: var(--text-color);
}

.logo-heading {
    text-transform: uppercase;
    cursor: default;
    font-size: 2.5rem;
    color: #dcaf85;
}

.logo-heading:hover {
    color: var(--text-color);
}

.sidebar a:hover {
    color: var(--text-color);
}

.active {
    border-bottom: 2px solid var(--text-color);
    border-radius: 10px;
    padding: 5px;
}

.sidebar.open {
    height: 450px;
}

.sidebar ul .open {
    opacity: 1;
}

#menu-icon {
    font-size: 3.6rem;
    color: var(--text-color);
    cursor: pointer;
}

section {
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

.home {
    position: relative;
    background-image: url(../images/rhino.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
    animation: change 15s infinite ease;
}

.home-content h3 {
    margin-top: 40px;
    text-align: center;
    font-size: 40px;
}

.adventure-btn {
    justify-content: center;
    margin-bottom: 40px;
    margin-left: 50px;
}

.adventure-btn {
    border-radius: 16px;
}

.adventure-btn a {
    color: var(--text-color);
}

.adventure-btn:hover {
    box-shadow: 0 0 5rem var(--text-color);
    cursor: pointer;
}

.adventure-btn1:hover {
    box-shadow: 0 0 5rem var(--text-color);
    cursor: pointer;
}

.adventure-btn1 {
    border-radius: 16px;
    padding: 20px;
    color: var(--text-color);
    background-color: #000000;
}

.choose-btn span {
    font-size: 20px;
    color: var(--text-color);
}

.adventure-btn {
    margin-left: 100px;
}

.adventure-btn {
    background-color: #dcaf85;
    padding: 20px;
}

span {
    color: #dcaf85;
}

.home-content h1 {
    font-size: 7rem;
    font-weight: 700px;
    letter-spacing: .5rem;
    text-align: center;
}

span {
    color: #dcaf85;
}

.home-content h1 {
    color: var(--bg-color)
}

.btn {
    display: inline-block;
    padding: 1rem 2.8rem;
    border-radius: 4rem;
    background: var(--text-color);
    transition: .5s ease;
    letter-spacing: .2rem;
    color: var(--bg-color);
    text-transform: uppercase;
    margin-top: 1rem;
}

.btn:hover {
    background-color: var(--text-color);
    box-shadow: 0 0 1rem var(--text-color);
}

.heading {
    text-align: center;
    font-size: 4rem;
}

.servivces h2 {
    margin-bottom: 5rem;
    justify-content: center;
    font-size: 2rem;
}

.services-container {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.portfolio-box img {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.services-box {
    flex: 1 1 30rem;
    background: var(--second-bg-color);
    padding: 3rem;
    border-radius: 5rem;
    border: .2rem solid var(--second-bg-color);
    transition: .5s ease;
}

.services-box:hover {
    background-color: var(--bg-color);
    transform: scale(1.02);
    border: .2rem solid #dcaf85;
}

.services-box i {
    font-size: 7rem;
    color: var(--main-color);
}

.services-box h1 {
    margin: 10px 0px;
    color: #dcaf85;
    font-size: 24px;
}

.services-box h3 {
    font-size: 18px;
}

.ceo img {
    width: 400px;
    height: 300px;
    border-radius: 200px;
}

.ceo p {
    color: #dcaf85;
    font-size: 20px;
}

.ceo-heading {
    text-align: center;
    font-size: 40px;
    margin-top: 20px;
}

.ceo {
    background-color: var(--bg-color);
    align-items: center;
    margin-top: 30px;
    gap: 40px;
    display: flex;
    justify-content: space-between;
}

.ceo-container {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.services-box p {
    font-size: 2.6rem;
    font-size: large;
}

.projects {
    background-color: var(--second-bg-color);
}

.projects h2 {
    margin-bottom: 2rem;
}

.portfolio-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    gap: 2rem;
}

.portfolio-container .portfolio-box {
    position: relative;
    border-radius: .2rem;
    box-shadow: 0 0 1rem var(--bg-color);
    overflow: hidden;
    display: flex;
}

.portfolio-box img {
    width: 100%;
    transition: .5s ease;
}

.portfolio-box:hover img {
    transform: scale(1.1)
}

.portfolio-box .portfolio-layer {
    width: 100%;
    height: 100%;
    left: 0;
    position: absolute;
    bottom: 0;
    background: linear-gradient(rgba(0, 0, 0, .5), #dcaf85);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 4rem;
    transform: translateY(100%);
    transition: .5s ease;
    text-align: center;
}

.portfolio-box:hover .portfolio-layer {
    transform: translateY(0);
}

.portfolio-layer h4 {
    font-size: 3rem;
}

.portfolio-layer p {
    font: 1.6rem;
    margin: .3rem 0 1rem;
}

.portfolio-layer a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background: var(--text-color);
    border-radius: 50%;
}

.portfolio-layer i {
    font-size: 1rem;
    color: var(--bg-color);
    background-color: var(--main-color);
}

.contact h2 {
    margin-bottom: 3rem;
}

.contact form {
    max-width: 70rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
}

.contact form .input-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    color: var(--text-color);
}

.input-box input,
.contact form textarea {
    width: 100%;
    padding: 1.5rem;
    font-size: 1.3rem;
    color: var(--text-color);
    background-color: var(--second-bg-color);
    border-radius: .8rem;
    margin: .7rem 0;
    margin-top: 20px;
}

.input-box input {
    width: 49%;
}

.contact form textarea {
    resize: none;
}

.contact form.btn {
    margin-top: 2rem;
    cursor: pointer;
}

.footer {
    color: #dcaf85;
    font-size: 1.7rem;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    height: 200px;
    gap: 5rem;
    padding: 4rem 9%;
    background: var(--second-bg-color);
}

.footer-box {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.footer-box h1 {
    color: #dcaf85;
}

.footer-text p {
    font-size: 1.6rem;
    color: var(--text-color);
}

.footer-icon a {
    justify-content: center;
    align-items: center;
    display: inline-flex;
    font-size: 1.2rem;
    color: var(--bg-color);
    padding: 2rem;
    border-radius: .8rem;
    background-color: var(--main-color);
    transition: .5s ease;
}

.footer-icon a i {
    font-size: 1.5rem;
    color: var(--bg-color);
}

.footer-icon a:hover {
    box-shadow: 0 0 1rem var(--main-color);
}

.footer-icon a i:hover {
    color: var(--bg-color);
}

.vision {
    justify-content: center;
    margin: 0 auto;
    background-color: #e8d8cd;
    background-size: cover;
    object-fit: cover;
    display: flex;
    flex-direction: column;
}

.vision h1 {
    text-align: center;
    font-size: 70px;
}

.vision p {
    color: #2a312c;
}

.home-image img {
    width: 300px;
    height: 300px;
    border-radius: 30px;
    margin-right: 20px;
    object-fit: cover;
}

.starter {
    background-repeat: no-repeat;
    object-fit: cover;
    display: flex;
    position: relative;
    flex-direction: column;
    background-image: url(../images/tga.jpg);
    background-position: center;
    background-size: cover;
}

.starter-content {
    width: 100%;
    margin-top: 150px;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.starter-content h1 {
    margin-top: 100px;
    font-size: 50px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, .7), rgba(0, 0, 0, .4), rgba(0, 0, 0, 0));
}

.about-content {
    border-bottom: 2px solid #fff;
}

.interest-container {
    margin-top: 20px;
    font-size: 15px;
    align-items: center;
    justify-content: flex-start;
}

.interest-container label {
    color: #dcaf85;
}

.about-content p {
    font-size: 25px;
    color: #dcaf85;
}

.choose-btn {
    position: absolute;
    left: 240px;
}

.home-content h3 {
    margin-bottom: 13px;
}

.copyrit {
    display: flex;
    flex-direction: column;
}

.menu-icon {
    display: none;
}

.menu-icon1 {
    display: none;
}

.navbar i {
    color: #dcaf85;
    font-size: 20px;
}

.expert-btn {
    color: #dcaf85;
    padding: 10px 10px;
    border-radius: 10px;
}

.expert-btn a {
    color: #dcaf85;
}

.contact-body {
    background-color: #dcaf85;
    color: #000000;
}

.expert-btn:hover {
    background-color: #80808080;
    text-decoration: none;
}

@keyframes change {
    0% {
        background-image: url(../images/tga.jpg);
    }
    10% {
        background-image: url(../images/pexels-pixabay-66898.jpg)
    }
    40% {
        background-image: url(../images/eye.jpg);
    }
    70% {
        background-image: url(../images/rhino.jpg);
    }
    100% {
        background-image: url(../images/Elephant-family.webp);
        background-size: cover;
    }
}

@media(max-width:1200px) {
    html {
        font-size: 55%;
    }
    .expert-btn {
        display: none;
    }
    .home-content h1 {
        margin-top: 30px;
        line-height: 5rem;
        text-align: center;
    }
    .home-content h1 {
        font-size: 40px;
        line-height: 10rem;
    }
}

@media(max-width:1075px) {
    .home-content h1 {
        margin-top: 30px;
        line-height: 5rem;
        text-align: center;
    }
    .home-content h1 {
        font-size: 60px;
        line-height: 8rem;
        margin-bottom: 20px;
    }
    .choose-btn {
        position: absolute;
        left: 50px;
        bottom: 0;
    }
}

@media(max-width:1000px) {
    .choose-btn {
        position: absolute;
        left: 100px;
        bottom: 0;
    }
    .home-content h1 {
        margin-top: 30px;
        line-height: 5rem;
        text-align: center;
    }
    .home-content h1 {
        font-size: 40px;
        line-height: 10rem;
    }
}

@media(max-width:991px) {
    .header {
        padding: 2rem 3%;
    }
    section {
        padding: 10rem 3%;
    }
    .home-content h1 {
        margin-top: 30px;
        line-height: 5rem;
        text-align: center;
    }
    .home-content h1 {
        font-size: 60px;
        line-height: 8rem;
        margin-bottom: 20px;
    }
    .footer {
        padding: 2rem 3%;
    }
    .choose-btn {
        position: absolute;
        left: 70px;
        bottom: 0;
    }
}

@media(max-width:995px) {
    .choose-btn {
        position: absolute;
        left: 70px;
        bottom: 0;
    }
    .destinationplan {
        margin-bottom: 20px;
    }
}

@media(max-width:883px) {
    .home-content h1 {
        text-align: center;
    }
    .choose-btn {
        position: absolute;
        left: 30px;
        bottom: 0;
    }
}

@media(max-width:892px) {
    .home-content h1 {
        margin-top: 30px;
        line-height: 5rem;
        text-align: center;
    }
    .home-content h1 {
        font-size: 50px;
        line-height: 10rem;
    }
    .choose-btn {
        position: absolute;
        left: 30px;
        bottom: 0;
    }
}

@media(max-width:891px) {
    .home-content h1 {
        text-align: center;
    }
    .choose-btn {
        position: absolute;
        left: 30px;
        bottom: 0;
    }
}

@media(max-width:856px) {
    .menu-icon {
        display: flex;
        height: 40px;
    }
    .menu-icon1 {
        display: none;
    }
    .navbar {
        display: none;
    }
}

@media(max-width:841px) {
    .ceo {
        display: flex;
        flex-direction: column;
    }
}

@media(max-width:800px) {
    .choose-btn {
        position: absolute;
        left: 10px;
        bottom: 0;
    }
    .adventure-btn {
        width: 220px;
        font-size: 10px;
        padding: 10px;
    }
    .adventure-btn1 {
        width: 220px;
        font-size: 10px;
        padding: 10px;
    }
}

@media(max-width:737px) {
    .menu-icon {
        display: flex;
        height: 40px;
    }
    .logo-heading {
        font-size: 30px;
    }
    .menu-icon1 {
        display: flex;
    }
    .sidebar {
        display: flex;
        position: absolute;
        top: 80px;
        right: 0;
        left: 0;
        background-color: #000000;
        flex-direction: column;
        padding: 10px;
        opacity: 0;
        transition: 0.3s ease;
        overflow: hidden;
    }
}

@media(max-width:768px) {
    .home {
        flex-direction: column;
    }
    .home-content h3 {
        font-size: 2.6rem;
    }
    .home-content h1 {
        font-size: 5rem;
    }
    .home-image img {
        width: 70vh;
        margin-top: 4rem;
    }
    .home {
        flex-direction: column;
    }
    #home i {
        color: black
    }
    .about img {
        width: 70vh;
        margin-top: 4rem;
    }
    .contact {
        min-height: auto;
    }
    .services h2 {
        margin-bottom: 3rem;
    }
    .projects h2 {
        margin-bottom: 3rem;
    }
    .portfolio-container {
        grid-template-columns: repeat(2, 1fr);
    }
    .projects {
        padding-bottom: 1rem;
    }
}

@media(max-width:617px) {
    .portfolio-container {
        grid-template-columns: 1fr;
    }
    .home-content h1 {
        text-align: center;
        font-size: 30px;
    }
}

@media(max-width:590px) {
    .choose-btn {
        display: flex;
        gap: 5px;
        flex-direction: column;
        align-items: center;
        margin-right: 100px;
        padding: 20px;
    }
    .choose-btn {
        position: relative;
        left: 5px;
        bottom: 0;
        margin-right: 40px;
        font-size: 10px;
        align-items: center;
    }
    .adventure-btn {
        border-radius: 40px;
        margin-top: 30px;
        padding: 15px;
        margin-right: 90px;
    }
    .adventure-btn a {
        margin-top: 10px;
        font-size: 10px;
        font: large;
    }
    .adventure-btn1 a {
        padding: 10px;
        font-size: 13px;
    }
    .home-content h1 {
        font-size: 20px;
    }
    .home-content h3 {
        font-size: 15px;
    }
    .home-content h1 {
        margin-top: 30px;
        line-height: 5rem;
    }
    .home-content h1 {
        font-size: 30px;
    }
}

@media(max-width:550px) {
    .bout-content p {
        font-size: 20px;
    }
    .home-content h1 {
        margin-top: 30px;
        line-height: 5rem;
    }
    .home-content h1 {
        font-size: 30px;
    }
}

@media(max-width:471px) {
    .home-content h1 {
        font-size: 20px;
    }
    .home-content h1 {
        margin-top: 20px;
        line-height: 5rem;
    }
    .about-content p {
        font-size: 10px;
    }
    .adventure-btn {
        border-radius: 40px;
        margin-top: 30px;
        padding: 10px;
        padding: 15px;
        margin-right: 90px;
        width: 120px;
    }
    .adventure-btn1 {
        padding: 10px;
        width: 120px;
        border-radius: 40px;
    }
    .adventure-btn a {
        margin-top: 10px;
        font-size: 10px;
        font: large;
    }
}

@media(max-width:450px) {
    .logo-heading {
        font-size: 20px;
        margin-top: 40px;
    }
    .vision-content p {
        font-size: 18px;
    }
    .home-content h1 {
        font-size: 20px;
    }
    .home-content {
        margin-top: 30px;
    }
}

@media(max-width:430px) {
    .about-content h1 {
        font-size: 20px;
    }
    .logo-heading {
        margin-top: 60px;
    }
    .starter-content h1 {
        font-size: 25px;
    }
    .about-content h3 {
        font-size: 15px;
        letter-spacing: 1.5rem;
    }
    .ceo img {
        width: 200px;
        height: 200px;
        border-radius: 200px;
    }
    .ceo p {
        font-size: 15px;
    }
    .ceo-heading {
        font-size: 25px;
    }
}

.about {
    flex-direction: column-reverse;
}

.about-content p {
    font-size: 18px;
}

.footer-box h1 {
    font-size: 18px;
}

.vision-content p {
    font-size: 15px;
}

.vision-content h1 {
    font-size: 28px;
}

@media(max-width:386px) {
    .adventure-btn1 {
        padding: 10px;
        width: 100px;
        border-radius: 40px;
    }
    .adventure-btn a {
        margin-top: 10px;
        font-size: 10px;
        width: 100px;
        font: large;
    }
    .home-content h3 {
        font-size: 10px;
    }
    .vision-content h1 {
        font-size: 20px;
    }
    .vision-content p {
        font-size: 15px;
    }
    .starter-content h1 {
        font-size: 25px;
    }
}

@media(max-width:365px) {
    #menu-icon {
        display: block;
    }
    .home img {
        width: 90vw;
    }
    .about img {
        width: 70vw;
    }
    .footer {
        flex-direction: column-reverse;
    }
    .footer p {
        text-align: center;
        margin-top: 2rem;
    }
    .ceo-heading {
        font-size: 20px;
    }
    .starter-content h1 {
        font-size: 10px;
    }
    .home-content h1 {
        font-size: 20px;
    }
    .ceo-heading {
        font-size: 15px;
    }
    .heading {
        font-size: 10px;
    }
    .services-box h1 {
        font-size: 15px;
    }
    .services-box h3 {
        font-size: 10px;
    }
    .services-box a {
        font-size: 15px;
    }
    .logo-heading {
        font-size: 15px;
    }
    .menu-icon1 {
        width: 20px;
    }
    .navbar {
        width: 10%;
    }
    .home-content {
        width: 100%;
    }
    .home-content h3 {
        font-size: 15px;
    }
    .vision-content h1 {
        font-size: 25px;
    }
    .vision-content p {
        font-size: 15px;
    }
    .starter-content h1 {
        font-size: 25px;
    }
    .heading {
        font-size: 25px;
    }
}

@media(max-width:350px) {
    .ceo img {
        width: 100px;
        height: 100px;
    }
    .ceo-heading {
        font-size: 15px;
    }
    .starter-content h1 {
        font-size: 15px;
    }
    .home-content h1 {
        margin-top: 20px;
        font-size: 15px;
    }
    .footer-box h1 {
        font-size: 15px;
    }
    .footer-box i {
        font-size: 15px;
    }
    .contact h2 {
        font-size: 15px;
    }
}

@media(max-width:338px) {
    .home-content {
        width: 100%;
    }
}

@media(max-width:270px) {
    .starter-content h1 {
        font-size: 15px;
        line-height: 2rem;
    }
    .home-content h1 {
        font-size: 5px;
    }
    .home-content h1 {
        font-size: 10px;
        margin-top: 20px;
    }
    .ceo-heading {
        font-size: 10px;
    }
    .heading {
        font-size: 10px;
    }
    .services-box h1 {
        font-size: 15px;
    }
    .services-box h3 {
        font-size: 10px;
    }
    .services-box a {
        font-size: 10px;
    }
    .home-content {
        width: 100%;
    }
}

@media(max-width:261px) {
    .starter-content h1 {
        font-size: 15px;
        line-height: 2rem;
    }
    .home-content h1 {
        font-size: 5px;
    }
    .ceo-heading {
        font-size: 10px;
    }
    .heading {
        font-size: 10px;
    }
    .services-box h1 {
        font-size: 15px;
    }
    .services-box h3 {
        font-size: 10px;
    }
    .services-box a {
        font-size: 15px;
    }
    .home-content {
        width: 100%;
    }
    .home-content h1 {
        margin-top: 30px;
        line-height: 5rem;
    }
    .home-content h1 {
        font-size: 15px;
    }
}

@media(max-width:250px) {
    .starter-content h1 {
        font-size: 10px;
    }
    .home-content h1 {
        font-size: 10px;
    }
    .home-content h1 {
        margin-top: 30px;
        line-height: 5rem;
    }
    .home-content h1 {
        font-size: 10px;
    }
}

@media(max-width:228px) {
    .home-content {
        width: 100%;
    }
    .ceo img {
        width: 100px;
        height: 100px;
    }
}

@media(max-width:200px) {
    .home-content {
        width: 100%;
    }
    .logo-heading {
        font-size: 10px;
    }
    .ceo img {
        width: 100px;
        height: 100px;
    }
    .footer-box {
        font-size: 10px;
    }
    .footer-box a {
        font-size: 13px;
    }
    .services-box a {
        font-size: 10px;
    }
    .footer-box {
        font-size: 7px;
    }
    .footer-box h1 {
        font-size: 15px;
    }
    .footer-box a {
        font-size: 15px;
    }
    .footer-box i {
        font-size: 10px;
    }
    .ceo p {
        font-size: 10px;
    }
    .home-content h1 {
        font-size: 8px;
        margin-top: 20px;
    }
    .services-box a {
        font-size: 10px;
    }
    .btn {
        font-size: 5px;
        width: 80px;
    }
    .vision-content p {
        font-size: 10px;
    }
}

@media(max-width:150px) {
    .home-content {
        width: 100%;
    }
    .ceo img {
        width: 100px;
        height: 100px;
    }
    .footer-box {
        font-size: 7px;
    }
    .footer-box a {
        font-size: 15px;
    }
    .footer-box i {
        font-size: 15px;
    }
    .services-box a {
        font-size: 15px;
    }
    .btn {
        font-size: 10px;
        width: 80px;
    }
    .logo-heading {
        font-size: 10px;
    }
}